/* ======================================= */
/*   Left-Side-Menu 2 -- Notes List        */
/* ======================================= */

/* === Variables: left-menu-2 === */
@left-menu-2-width: 150px;
@note-list-header: 26.38px;
@list-ctrls-top: 23px;

#left-menu-2{
  float: left;
  position: relative;
  width: @left-menu-2-width; 
  height: 100%; 
  background: #f7f7f7; 
}

#left-menu-2 > div {
  position: relative; 
  height: 100%;
}

#note-list-ctrls-top {
  position: relative;
  font-size: 10px;
  font-weight: 600;
  display: block;
}
#note-list-ctrls-top > span{
  cursor: pointer;
  width: 50%;
  text-align: center;
  display: inline-block;
  padding: 0.3em 0em;
}
#note-list-ctrls-top > span:first-child{
  border-right: 1px solid #666666;
}
#note-list-ctrls-top > span.active{
  background: #c5c5c5;
}
#note-list-ctrls-top > span.active{
  background: #999;
  color: #ddd;
}

#note-list-head {
  font-size: 10px;
  padding: .35em .5em;
  border-bottom: 1px solid #DDD;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: bolder;
}

#note-list-scroll {
  display: block;
  width: 100%;
  height: calc(100% - @list-ctrls-top);
  overflow-y: auto;
  scrollbar-width: thin;
}
#note-list-scroll.search-active {
  display: block;
  width: 100%;
  height: calc(100% - @note-list-header - @list-ctrls-top);
  overflow-y: auto;
  scrollbar-width: thin;
}
#note-list-scroll:after{ 
  clear:both;                 
  content:" ";
  display:block;
  font-size:0;
  height:0;
  line-height:0;
  visibility:hidden;
  width:0;
}



/* ===== Note list thumbnail ===== */
.note-thmb{
  font-size: 10px;
  float: right;
  width: 90%;
  padding: 5px 10px;
  border-bottom: 1px solid #DDD;
}
.note-thmb.active{
  background: #E4E4E4;
}
.note-thmb:hover {
  background: #E4E4E4;
  cursor: pointer;
}

.item-thmb-name {
  display: block;
  width: 100%;
  margin-right: 3.0em;
  font-weight: 600;
}

.flex-wrap {
  display: flex;
  width: 100%;
}

.note-thmb-head {
  flex: 1;
  display: block;
  font-weight: bolder;
  min-width: 0px;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}
.note-thmb-mid {
  min-width: 0px;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}
.note-thmb-datetime {
  padding-right: 7px;
  font-weight: 500;
}
.note-thmb-content {
  min-width: 0px;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}
.note-thmb-tags {
  min-width: 0px;
  text-overflow: ellipsis;
  overflow: hidden; 
  white-space: nowrap;
}
.note-thmb-tags > span {
  padding: 2px 4px;
  background: #D6D7F1;
  /*opacity: 0.3;*/
  margin-left: 2px;
  margin-right: 2px;
  color: black;
  border-radius: 4px;
}
.color-pickr-circle-thmb {
  display: inline-block !important;
  width: 10px;
  height: 10px; 
  border-radius: 5px;
  margin-top: 0.25em;
  margin-left: 0.1em;
  margin-right: 0.2em;
}

.item-thmb-ctrls{
  /* position: absolute -- Makes dropdown function correctly on expense of 
     name truncating. "Relative" makes truncating work but dropdown not.. */
  position: absolute; 
  right: 0.3em;
  top: 0.0em;
  display: block;
  margin-left: auto;
  white-space: nowrap;
}
.item-thmb-dropdown{

}