/**
 * Color collections for the note backgrounds. Inspired by Post-It color collections.
 * 
 * Each scheme is a less list with comma separated elements. Accessed with extract function
 */

/* Standard */
@standard:        std;   
 
/* Post-It */
// TODO add lists of hex color codes!!
/*@rio-de-janeiro:  ;
@miami:           ;
@marrakesh:       ;
@bora-bora:       ;
@bali:            ;
@new-york:        ;
@jaipur:          ;
@cape-town:       ;
@marseille:       ;
@helsinki:        ;
*/

