/* ======================================= */
/*   Main Stylesheet                       */
/* ======================================= */
body {
  font-size: 12px !important;
  /* Overwrites Semantic-Ui*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#layout {
  position: absolute;
  width: 100%;
  height: 100%;
}
#main {
  height: calc(100% - 35px);
  width: 100%;
  margin-top: 35px;
}
/* ======== Split.js Gutter ========= */
#main > .gutter {
  background: #e8e8e8;
}
.gutter {
  float: left;
  cursor: col-resize;
  height: 100%;
  background: #f7f7f7;
}
#content {
  float: left;
  position: relative;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
}
#content.graph-active {
  overflow: hidden !important;
}
/* ============ Import other scripts ======================== */
/* ======================================= */
/*    Titlebar                             */
/* ======================================= */
/* === Variables === */
#titlebar {
  display: block;
  position: fixed;
  top: 0px;
  height: 35px;
  width: calc(100% - 2px);
  /*Compensate for body 1px border*/
  background: #f7f7f7;
  /*f7f7f7;*/
  padding-top: 1px;
  text-align: center;
  font-size: 13px;
  z-index: 7;
}
#titlebar-right-elem {
  display: inline;
  float: right;
}
#titlebar-right-elem span {
  display: inline-block;
  padding-left: 7px;
  padding-right: 7px;
}
#titlebar-right-elem span:hover {
  color: #666666;
}
#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}
.tb-btn {
  display: inline-block;
  height: 25px;
  border: none;
  background: #DDD;
  border-radius: 4px;
  color: #333333;
  margin: 0 3px;
  outline: none;
}
.tb-btn:hover {
  background: #c5c5c5;
  cursor: pointer;
}
.tb-btn.active {
  background: #999;
  color: #ddd;
}
.toggle-btn-wrap {
  float: left;
  display: inline-block;
}
.tb-toggle-btn {
  display: flex;
  color: #333333;
}
.tb-toggle-btn > button {
  display: inline-block;
  height: 25px;
  border: none;
  background: #DDD;
  margin: 0px 0px !important;
}
#tb-list-btn {
  border-right: 1px solid #333;
  border-radius: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#tb-graph-btn {
  border-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
#tb-prjct-tools {
  float: left;
  position: relative;
  padding-left: 72px;
  padding-top: 4px;
}
#tb-prjct-tools > * {
  float: left;
}
#tb-notes-tools {
  float: left;
  position: relative;
  padding-top: 4px;
}
#tb-notes-tools > * {
  float: left;
}
#tb-content-tools {
  float: left;
  position: relative;
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 8px;
}
#tb-content-tools > #global-search {
  float: right;
}
#global-search {
  display: block;
  position: relative;
}
#global-search > input {
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  height: 25px;
  width: 200px;
  padding-left: 23px;
}
#global-search > input:focus {
  box-shadow: 0px 0px 0px 3px #0094E3;
  outline: none;
}
#global-search > .fa-search {
  position: absolute;
  left: 5px;
  top: 6px;
  color: #666666;
}
#global-search > .fa-times-circle {
  display: block;
  position: absolute;
  right: 4px;
  top: 6px;
  color: #666666;
}
#global-search > .fa-times-circle.hidden {
  display: none;
}
/* ======================================= */
/*   Left-Side-Menu 1 -- Project List      */
/* ======================================= */
/* === Variables === */
#left-menu-1 {
  float: left;
  /* Combine float and position: relative (to its flow) */
  position: relative;
  width: 150px;
  height: 100%;
  /* calc(100% - @titlebar-height);*/
  background: #f7f7f7;
  /*z-index: 5;*/
  /*border-right: 1px solid #666666;*/
  min-width: 100px;
}
#left-menu-1 > div {
  position: relative;
  height: 100%;
}
#prjct-list-scroll {
  /*position: relative; */
  display: block;
  width: 100%;
  height: calc(100% - 26.38px - 31px);
  overflow-y: auto;
  /* REASON for semantic-ui dropdown not to exceed container.*/
}
/* Makes semantic-ui dropdown work with overflow-y: auto on 
  the parent #prjct-list-scroll container */
#prjct-list-scroll:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
}
#prjct-list-head {
  padding: 0.35em 0.5em;
  border-bottom: 1px solid #DDD;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: bolder;
}
.prjct-thmb {
  display: flex;
  padding: 0.35em 0.5em;
  border-bottom: 1px solid #DDD;
  width: 100%;
  cursor: pointer;
}
.prjct-thmb:hover {
  background: #E4E4E4;
}
.prjct-thmb.active {
  background: #E4E4E4;
}
.prjct-thmb-drppbl-active {
  /*box-shadow: 0px 0px 0px 3px #0094E3;*/
  border: 3px solid #0094E3;
  border-radius: 2px;
}
.prjct-thmb-name {
  min-width: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.prjct-thmb-name.hidden {
  display: none;
}
.prjct-thmb-ctrls {
  /* position: absolute -- Makes dropdown function correctly on expense of 
     name truncating. "Relative" makes truncating work but dropdown not.. */
  position: absolute;
  right: 5px;
  display: block;
  margin-left: auto;
  float: right;
  white-space: nowrap;
}
.prjct-thmb-digit {
  color: #666;
  padding: 0 0.35em;
}
.prjct-thmb-dropdown {
  padding: 0 0.5em;
}
.prjct-name-input {
  width: 100%;
  border: 1px solid #666666;
  border-radius: 5px;
  height: 22px;
  margin-right: 4em;
}
.prjct-name-input.hidden {
  display: none;
}
.prjct-name-input.alert {
  border: 3px solid #be0000;
  outline: none;
}
.prjct-name-input:focus {
  border: 2px solid #0094E3;
  outline: none;
}
.prjct-name-input.alert:focus {
  border: 3px solid #be0000;
  outline: none;
}
#left-menu-1-ctrls {
  position: absolute;
  /* Only works because parent is 'relative' */
  bottom: 1px;
  width: 100%;
  background: #f7f7f7;
}
#left-menu-1-ctrls span {
  display: inline-block;
  padding: 7px 10px;
}
#left-menu-1-ctrls span:hover {
  cursor: pointer;
  color: #666666;
}
#left-menu-dropdown {
  display: inline-block;
  padding-left: 10px;
}
#left-menu-dropdown .scrolling.menu {
  max-height: 200px !important;
}
#left-menu-dropdown .header {
  margin-top: 0.3em !important;
  margin-bottom: 0.3em !important;
}
.dropdown .item {
  font-size: 11px !important;
}
/* Overwriting the padding defined by semantic.min.css
   for dropdown items */
.ui.dropdown .menu > .item {
  padding: 0.6em 1.1em !important;
}
#dummy-dropdown {
  position: absolute !important;
  display: block;
  top: 100%;
  left: 100px;
  width: 120px;
  height: 100px;
  background: yellow;
  z-index: 40;
}
/* ======================================= */
/*   Left-Side-Menu 2 -- Notes List        */
/* ======================================= */
/* === Variables === */
#left-menu-2 {
  float: left;
  position: relative;
  width: 150px;
  height: 100%;
  background: #f7f7f7;
}
#left-menu-2 > div {
  position: relative;
  height: 100%;
}
#note-list-head {
  font-size: 10px;
  padding: 0.35em 0.5em;
  border-bottom: 1px solid #DDD;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: bolder;
}
#note-list-scroll {
  display: block;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}
#note-list-scroll.search-active {
  display: block;
  width: 100%;
  height: calc(100% - 26.38px);
  overflow-y: auto;
  scrollbar-width: thin;
}
/* ===== Note list thumbnail ===== */
.note-thmb {
  font-size: 10px;
  float: right;
  width: 90%;
  padding: 5px 10px;
  border-bottom: 1px solid #DDD;
}
.note-thmb.active {
  background: #E4E4E4;
}
.note-thmb:hover {
  background: #E4E4E4;
  cursor: pointer;
}
.flex-wrap {
  display: flex;
  width: 100%;
}
.note-thmb-head {
  flex: 1;
  display: block;
  font-weight: bolder;
  min-width: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.note-thmb-mid {
  min-width: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.note-thmb-datetime {
  padding-right: 7px;
  font-weight: 500;
}
.note-thmb-content {
  min-width: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.note-thmb-tags {
  min-width: 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.note-thmb-tags > span {
  padding: 2px 4px;
  background: #D6D7F1;
  /*opacity: 0.3;*/
  margin-left: 2px;
  margin-right: 2px;
  color: black;
  border-radius: 4px;
}
.color-pickr-circle-thmb {
  display: inline-block !important;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-top: 0.25em;
  margin-left: 0.1em;
  margin-right: 0.2em;
}
/* ======================================= */
/*   Note Editor                           */
/* ======================================= */
.note-header .datetime {
  font-size: 11px;
  text-align: center;
  padding: 3px 3px;
}
.note-header .datetime > i:hover {
  cursor: pointer;
}
#dt-created.hidden,
#dt-modified.hidden {
  display: none !important;
}
.note-header textarea {
  font-size: 11px !important;
}
.note-content-wrap {
  position: relative;
  background-color: #e8e8e8;
  /*#E4E4E4;*/
}
.note-content-ctrls {
  display: block;
  width: 100%;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  z-index: 0;
}
.note-content-ctrls:after {
  display: block;
  content: "";
  clear: both;
}
#note-color-dp {
  display: inline-block;
  font-size: 11px !important;
  float: right;
  color: #666666;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
#note-color-dp > i:nth-child(2) {
  margin-left: 0em !important;
}
#note-color-dp .item {
  display: inline-block !important;
  /*padding: 2px 4px !important;*/
  padding: 0.5em 0.8em !important;
}
#note-color-dp .item.active {
  box-shadow: 0 0 0 1px #ddd;
}
#note-color-dp .header {
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
  /*padding: 2px 4px !important;*/
}
#note-color-dp .divider {
  margin: 0px !important;
  /*padding: 2px 4px !important;*/
}
#note-color-dp .menu.scrolling {
  max-height: 200px;
}
.color-pickr-circle {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
}
#local-search {
  font-size: 10px;
  display: inline-block;
  float: left;
  position: relative;
  padding-left: 0.7em;
  width: 90%;
}
#local-search.hidden {
  display: none;
}
#local-search > input {
  border: 1px solid #c5c5c5;
  font-size: 10px;
  border-radius: 0.5em;
  display: block;
  padding-left: 2em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-right: 5em;
  width: 100%;
}
#local-search > input:focus {
  box-shadow: 0px 0px 0px 1px #666666;
  outline: none;
}
#local-search > .fa-search {
  position: absolute;
  left: 1em;
  top: 0.25em;
  color: #666666;
}
#local-search > .right-ctrls {
  position: absolute;
  right: 0.2em;
  top: 0em;
  color: #666666;
}
#local-search > .right-ctrls.hidden {
  display: none;
}
#loc-search-prev,
#loc-search-next {
  border-radius: 0.3em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}
#loc-search-prev:hover,
#loc-search-next:hover {
  background: #ddd;
}
.needle-marker {
  box-shadow: 0px 0px 0px 1px #000;
}
.needle-marker.selected {
  background: white;
  color: black;
}
.note-content {
  border-style: none;
  resize: none;
  outline: none;
  overflow: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11px !important;
  display: block;
  position: relative;
  z-index: 0;
  bottom: 0px;
  width: 100%;
  height: 26px;
  padding-top: 0.23em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.63em;
  background-color: inherit;
  -webkit-box-shadow: 1px 6px 12px -8px #000000;
  box-shadow: 1px 6px 12px -8px #000000;
  line-height: 1.1em;
}
#notepad-overlay {
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
  font-size: 11px !important;
  -webkit-appearance: textarea;
  font: -webkit-small-control;
  padding-top: 0.23em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.63em;
  /*height: 400px;*/
  line-height: 1.1em;
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 2.4em;
  color: rgba(0, 0, 0, 0);
}
#notepad-overlay.hidden {
  display: none;
}
/* ======================================= */
/*   Graph Creator                         */
/* ======================================= */
/* === Base code === */
#toolbox {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin-bottom: 0.5em;
  margin-left: 1em;
  border: 2px solid #EEEEEE;
  border-radius: 5px;
  padding: 1em;
  z-index: 5;
  background: #fff;
}
#toolbox span {
  display: block;
  opacity: 0.4;
}
#toolbox span:hover {
  opacity: 1;
  cursor: pointer;
}
marker {
  fill: #333;
}
path.link {
  fill: none;
  stroke: #333;
  stroke-width: 4px;
  cursor: default;
}
path.link:hover {
  stroke: #5ec4cc;
}
g.connect-node circle {
  fill: #BEFFFF;
}
path.link.hidden {
  stroke-width: 0;
}
path.link.selected {
  stroke: #e5acf7;
}
/* ========= Notes in Graph ====================================== */
.graph-droppable-active {
  /*box-shadow: 0px 0px 0px 3px ;*/
  border: 3px solid #F28CCF;
  border-radius: 6px;
}
.graph-note {
  /*border: 1px solid #ddd;*/
  -webkit-box-shadow: -3px 6px 12px -8px #000000;
  box-shadow: -3px 6px 12px -8px #000000;
  display: inline-block;
  background: #FFF;
}
.graph-note.blurred {
  opacity: 0.2;
}
.graph-note-header .datetime {
  font-size: 11px;
  text-align: center;
  padding: 3px 3px;
  border-bottom: 1px solid #666;
  /*#3595f6;*/
}
.graph-note-content {
  border-style: none;
  resize: none;
  outline: none;
  overflow: hidden;
  max-height: 500px;
  font-size: 11px;
  display: block;
  width: 100%;
  height: auto;
  padding: 7px 11px;
  background: inherit;
}
.graph-note-tags {
  display: block;
  width: 100%;
  padding: 4px 4px;
  /*border-top:1px solid #666;*/
  border-bottom: 1px solid #666;
  /*#3595f6;*/
  background: inherit;
}
.graph-note-tags > span {
  display: inline-block;
  padding: 2px 4px;
  background: #D6D7F1;
  /*opacity: 0.3;*/
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: black;
  border-radius: 4px;
}
foreignObject {
  background: #fff;
}
foreignObject.selected {
  box-shadow: 0 0 0 3px #000;
}
/**
 * Color collections for the note backgrounds. Inspired by Post-It color collections.
 * 
 * Each scheme is a less list with comma separated elements. Accessed with extract function
 */
/* Standard */
/* Post-It */
.postit-bg-std-1 {
  background: #FFF;
  box-shadow: 0px 0px 0px 1px #E4E4E4;
}
.postit-bg-std-2 {
  background: #f7f7f7;
  box-shadow: 0px 0px 0px 1px #E4E4E4;
}
.postit-bg-std-3 {
  background: #e8e8e8;
  box-shadow: 0px 0px 0px 1px #E4E4E4;
}
.postit-bg-std-4 {
  background: #d9d9d9;
  box-shadow: 0px 0px 0px 1px #E4E4E4;
}
.postit-bg-std-5 {
  background: #c9c9c9;
  box-shadow: 0px 0px 0px 1px #E4E4E4;
}
.postit-bg-janeiro-1 {
  background: #FF9739;
}
.postit-bg-janeiro-2 {
  background: #FF67B7;
}
.postit-bg-janeiro-3 {
  background: #009CFB;
}
.postit-bg-janeiro-4 {
  background: #69DA74;
}
.postit-bg-janeiro-5 {
  background: #FFD243;
}
.postit-bg-miami-1 {
  background: #63D3D0;
}
.postit-bg-miami-2 {
  background: #E2F25F;
}
.postit-bg-miami-3 {
  background: #FF6A82;
}
.postit-bg-miami-4 {
  background: #FF2F99;
}
.postit-bg-miami-5 {
  background: #FF9739;
}
.postit-bg-marrakesh-1 {
  background: #F64E5D;
}
.postit-bg-marrakesh-2 {
  background: #FFD243;
}
.postit-bg-marrakesh-3 {
  background: #59C08D;
}
.postit-bg-marrakesh-4 {
  background: #009CFB;
}
.postit-bg-marrakesh-5 {
  background: #C492C0;
}
.postit-bg-bora-1 {
  background: #59C08D;
}
.postit-bg-bora-2 {
  background: #69DA74;
}
.postit-bg-bora-3 {
  background: #CDE9E0;
}
.postit-bg-bora-4 {
  background: #B1CAE5;
}
.postit-bg-bora-5 {
  background: #93B1DA;
}
.postit-bg-bali-1 {
  background: #DECCE3;
}
.postit-bg-bali-2 {
  background: #FFBAA8;
}
.postit-bg-bali-3 {
  background: #B1CAE5;
}
.postit-bg-bali-4 {
  background: #FACDDF;
}
.postit-bg-bali-5 {
  background: #CDE9E0;
}
.postit-bg-nyc-1 {
  background: #FFD243;
}
.postit-bg-nyc-2 {
  background: #93B1DA;
}
.postit-bg-nyc-3 {
  background: #B1CAE5;
}
.postit-bg-nyc-4 {
  background: #C7C6C4;
}
.postit-bg-nyc-5 {
  background: #FFD243;
}
.postit-bg-jaipur-1 {
  background: #69DA74;
}
.postit-bg-jaipur-2 {
  background: #FFD243;
}
.postit-bg-jaipur-3 {
  background: #FF9739;
}
.postit-bg-jaipur-4 {
  background: #C492C0;
}
.postit-bg-jaipur-5 {
  background: #009CFB;
}
.postit-bg-capetown-1 {
  background: #FF6A82;
}
.postit-bg-capetown-2 {
  background: #FF9739;
}
.postit-bg-capetown-3 {
  background: #63D3D0;
}
.postit-bg-capetown-4 {
  background: #FF67B7;
}
.postit-bg-capetown-5 {
  background: #E2F25F;
}
.postit-bg-marseille-1 {
  background: #CDE9E0;
}
.postit-bg-marseille-2 {
  background: #63D3D0;
}
.postit-bg-marseille-3 {
  background: #FCF2AB;
}
.postit-bg-marseille-4 {
  background: #FACDDF;
}
.postit-bg-marseille-5 {
  background: #B1CAE5;
}
.postit-bg-helsinki-1 {
  background: #FACDDF;
}
.postit-bg-helsinki-2 {
  background: #FCF2AB;
}
.postit-bg-helsinki-3 {
  background: #CDE9E0;
}
.postit-bg-helsinki-4 {
  background: #B1CAE5;
}
.postit-bg-helsinki-5 {
  background: #DECCE3;
}
